@{
    ViewBag.Title = "Index";
}

@model List<Album>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home"></a></li>
    <li><a data-toggle="tab" href="#menu1">İNDİRİMDEKİLER</a></li>
    <li><a data-toggle="tab" href="#menu2">EN SON EKLENEN 5 ÜRÜN</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="col-lg-2" style="float:left">
            <ul id="genreMenu" class="nav nav-pills nav-stacked">
                @Html.Action("_GenreMenu", "Home")
            </ul>
        </div>
        <div id="albumList" class="col-lg-10">
            @Html.Action("_GenreOfAlbums", "Home")
        </div>
    </div>
</div>

<div id="menu1" class="tab-pane fade">
    <div class="col-lg-12">
        @Html.Action("_DiscountedAlbums", "Home")
    </div>

</div>